<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd" >  
           <!-- 使用注解方式声明切面 -->  
           <aop:aspectj-autoproxy/>   
           <bean id="springInterceptor" class="com.amuos.service.SpringInterceptor"></bean>
           <bean id="personService" class="com.amuos.service.impl.SpringAOPPersonServiceBean"></bean>             
</beans>